textarea {
    min-height: 400px;
}

.email-item {
    border: 1px solid black;
    border-collapse: collapse;
}
.read {
    background-color: gray;
}

.timestamp {
    text-align: end;
}

#email-view .btn {
    margin: 2px !important;
}